* {
	background-color: #BE343C
}
	
	.boat{
	color: #1F1D1D;
	 font-family:'Lato 700', sans-serif;
	 font-size: 100px;
	 position: absolute;
	 top: 600px;
	 left: 580px;
	} 

	.dog{
	color: #E2E2E2;
	 font-family: 'Lato 400', sans-serif;
	 font-size: 15px;
	 position: absolute;
	 text-align: center;
	 top: 1200px;
	 left: 20px;
	 
	} 

	.monkey{
	 position: absolute;
	 top: 900px;
	 left: 585px;
	 float: left;
	} 

	.on{
	 position: absolute;
	 top: 900px;
	 left: 875px;
	 float:left;
	} 

	.a{
	 position: absolute;
	 top: 900px;
	 left: 1175px;
	 float: left;
	} 

	.red{
	 position: absolute;
	 top: 800px;
	 left: 450px;
	 float: left;
     width: 1000px;
     height: 20px;
     background-color: #E2E2E2;
}

	.space{
	position: absolute;
	 top: 100px;
	 left: 775px;
	 float: left;
	} 